<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h3>Safar</h3>
            <p>Explore the best hotels for your journey</p>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-middle">
            <h4>Quick Links</h4>
            <ul class="footer-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Search Hotels</a></li>
                <li><a href="#">Upload Hotel</a></li>
                <li><a href="https://main--ephemeral-cannoli-a899f8.netlify.app/">About Us</a></li>
                <li><a href="https://main--ephemeral-cannoli-a899f8.netlify.app/">Contact Me</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <h4>Contact Us</h4>
            <p>Email: dummymail@gmail.com</p>
            <p>Phone: +123 456 7890</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Subscribe to our newsletter">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Safar. All rights reserved.</p>
    </div>
</footer>