.ctgry {
    display: flex;
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    overflow-x: scroll;
    margin-bottom: 0.5px;

    border-radius: 40px;
}

.ctgry::-webkit-scrollbar {
    display: none;
}

@media (max-width:750px) {
    .ctgry {

        padding: 0.4rem 1rem;
        padding-left: 13rem;
        border-radius: 40px;
    }
}

.ctgry .box {
    text-decoration: none;
    height: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: black;
}

.ctgry .box img {
    height: 2rem;
}