.cardCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;

    gap: 3vw;
    justify-content: space-evenly;

}

.cardCont a {
    text-decoration: none;
    color: black;
    font-family: 'General Sans';
}

.card {
    width: 220px;
    height: 270px;
    overflow-y: hidden;
    position: relative;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 19px 19px 86px #787878,
        -19px -19px 86px #ffffff;
    transition: transform 0.3s ease;

}

.card:hover,
.card:active {
    transform: scale(0.98);
}

.card img {
    width: 100%;
    height: 76%;
    object-fit: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.card .cardinfo {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0.5rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 215px;
    transition: all;
    transition-duration: 0.7s;
    backdrop-filter: blur(40px);
    /* Apply backdrop blur effect */
    -webkit-backdrop-filter: blur(30px);
    width: 100%;
}

.card .cardinfo .price {
    color: green;

}

.card:hover .cardinfo {
    top: 114px;

}

.card .cardinfo p {
    margin-top: 4px;
}

.card .location {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    color: rgb(255, 255, 255);
     border-radius: 10px;
}


#location {
    color: rgb(255, 255, 255);
    background-color: #00000052;
    border-radius: 10px;
    padding: 0px 5px;
    height: fit-content;
}

.card .location i {

    color: rgb(69, 146, 197);
}

@media (max-width:600px) {
    .cardCont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.2rem;

        gap: 3vw;
        justify-content: space-evenly;
    }

    .cardCont   .card {
        width: 191px;
        height: 267px;
        margin-bottom: 0.5rem;
        overflow-y: hidden;
        position: relative;
        border-radius: 13px;
        background: #ffffff;
        box-shadow: 0px 9px 9px 0px #787878, -19px -19px 86px #ffffff;
        transition: transform 0.3s ease;
    }

    @media (max-width:400px) {
        .cardCont {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0rem;

            gap: 3vw;
            justify-content: space-evenly;
        }

        .cardCont  .card {
            width: 95vw;
            height: 267px;
            margin-bottom: 0.5rem;
            overflow-y: hidden;
            position: relative;
            border-radius: 13px;
            background: #ffffff;
            box-shadow: 0px 9px 9px 0px #787878, -19px -19px 86px #ffffff;
            transition: transform 0.3s ease;
        }

        .cardCont  .card .location {
            position: absolute;
            bottom: -192px;
            right: 15px;
            display: flex;
            align-self: center;
            justify-content: center;
           
        }
    }
}



.card .cardinfo .price {
    color: rgb(68, 204, 68);
    font-size: 1rem;
}

.ebox {
    border: 1px solid red;
    color: rgb(211, 25, 25);
    background-color: black;
    width: 390px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}