.cardCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;

    gap: 3vw;
    justify-content: space-evenly;

}

.cardCont a {
    text-decoration: none;
}

.cardCont .card {
    width: 240px;
    height: 240px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    position: relative;
    transition: all;
    transition-duration: 0.3s;
}

.cardCont .card img {
    width: 100%;
    height: 76%;
    object-fit: cover;

}


.cardCont .card .cardinfo {

    margin: 0.1rem 0.3rem;
    color: black;
    font-size: 0.8rem;
}

.cardCont .card .location {
    position: absolute;

    top: 63%;
    right: 0.19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 0.65rem;
    gap: 0.1rem;
}

.cardCont .card .location i {
    color: rgb(162, 154, 235);
}

@media (min-width:1000px) {
    .cardCont .card:hover {
        transform: scale(1.1);

    }
}

@media (max-width:500px) {
    .cardCont {
        /* border: 5px solid blue; */
        padding: 0.5rem 0.5rem;
    }

    .cardCont .card {
        width: 95vw;
        height: 265px;
        border-radius: 18px;
        background: #ffffff;
        box-shadow: 0px 4px 20px #d9d9d9, -0px -0px 0px #ffffff;
        border-radius: 15px;
        overflow: hidden;
        outline: none;
        position: relative;
        transition: all;
        transition-duration: 0.3s;
    }
}