<% layout('../layouts/boilerplate') %>

    <body>
        <form action="/add" method="post" class="add" enctype="multipart/form-data">
            <div class="up">
                <h1>Fill information</h1>
               <a href="/home"> <i class="ri-close-line"></i></a>
            </div>
            <input type="text" name="title" placeholder="Enter title" required>
            <!-- <input type="text" name="image" placeholder="Paste image link" required> -->
            <input type="file" name="image" placeholder="Paste image link" required>

            <input type="text" name="desc" placeholder="Enter Description" required>
            <input type="Number" name="price" placeholder="Enter Price" required>
            <input type="text" name="location" placeholder="Enter Location" required>
            <input type="text" name="country" placeholder="Enter Country" required>
            <select name="ctgry" id="ctgry">
                <option value="Historic">Historic</option>
                <option value="Beach">Beach</option>
                <option value="Birthday">Birthday</option>
                <option value="Rainy">Rainy</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </body>