<% layout('../layouts/boilerplate') %>

    <body>
        <div class="ebox">
            <h3>Error</h3>
            <h1>Staus : <%= statusCode %>
            </h1>
            <h2><%= message %>
            </h2>
        </div>
    </body>