<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="/css/signupPage.css">
<div id="signupPage">
    <form action="/signup" method="post" autocomplete="off">
        <div class="lup">
            <h1>Welcome to Safar</h1>
            <a href="/home"> <i class="ri-close-line"></i></a>
        </div>
        <input type="text" placeholder="Enter username" autocomplete="off" name="username" required>
        <input type="email" placeholder="Enter email" autocomplete="off" name="email" required>
        <input type="password" placeholder="Enter password" autocomplete="current-password" name="password" required>
        <div class="lbtns">
            <button type="submit">SignUp</button>
            <button type="button" class="loginBtns">Existing user?</button>
        </div>
    </form>
</div>
